:root{
    background-color: lightseagreen;
    padding: 0;
    margin:0;

}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
}
.board{
    width: 90vw;
    height: 75vh;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    perspective: 1000px;
    justify-content: center;
}
.card{
    width: calc(25% - 10px);
    height: calc(33% - 10px);
    max-width:179px;
    max-height: 224px;
    position: relative;
    margin: 5px;
    background-color: whitesmoke;
    transform-style: preserve-3d;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.35);
    transform: scale(1);
    transition: transform .5s;
    border-radius: 5px;
    animation-name: flyin;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-direction: alternate;
}
.card:active{
    transform: scale(.97);
    transition: transfrom .2s;
}
.card.flip{
    transform: rotateY(180deg);
}
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 5px;
}
.front-face{
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
} 

@keyframes flyin {
    0%{
        position: absolute;
        margin-top: 150vh;
        transform: rotate(180deg);
    }
    50%{
        
        transform: rotate(180deg);
        
    }
    80%{
        margin-top: -45px;
    }
    100%{
        position: relative;
        transform: rotate(0);
        margin-top: 0;
    }
}


@keyframes slidein {
    0%{
        position: absolute;
    }
  
    50% {
        
    }
    100%{
        position: relative;
    }

  }