:root{
    background-color: lightseagreen;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
	padding: 0;
}
#backDrop{
    position: fixed;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 100;
    display: none;
}
#gameWonPanel{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: lightseagreen;
    z-index: 200;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
    /* display: flex; */
}
.infoPanel{
    font-size: large;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 16px;
    padding-right:16px;
}
#gameWonPanel ul{
    padding: 28px;
}
#gameWonPanel li {
    margin-top: 8px;
}
#gameWonPanel li:nth-child(even) {
    color: blue;
}
.scoreBoard{
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}   
.scores{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.actionPanel{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px;
    min-height: 125px;
    width: 100%;
}
.actionPanel button{
    border:none;
    text-decoration: none;
    max-width: 125px;
    background-color: white;
    color:rgb(12, 72, 69);
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 4px rgba(11, 62, 59, 0.35);
            box-shadow: 4px 4px 4px rgba(11, 62, 59, 0.35);
    padding: 10px;
}
#intro{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1.5;
}
.nickFacts{
    color: white;
    font-size: small;
    -webkit-animation: slidein .4s ease-in;
            animation: slidein .4s ease-in;
    max-height: 100px;
}
.nickFacts ul{
    list-style-type: none;
    margin-right:auto;
    margin-left: auto;
    padding:8px;
}
.nickFacts li{
    margin-top: 8px;
    display: none;
}
.board{
    width: 90vw;
    height: 75vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow:hidden;
}
.card{
    width: calc(25% - 10px);
    height: calc(33% - 10px);
    position: relative;
    margin: 5px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.35);
            box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.35);
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    border-radius: 5px;
    -webkit-animation-name: flyin;
            animation-name: flyin;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
}
.card:active{
    -webkit-transform: scale(.97);
        -ms-transform: scale(.97);
            transform: scale(.97);
    -webkit-transition: transfrom .2s;
    -o-transition: transfrom .2s;
    transition: transfrom .2s;
}
.card.flip{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5px;
}
.back-face img{
    width: 100%;
    height: 100%;
}

.front-face{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
} 
.front-face img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.front-face-image{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes flyin {
    0%{
        position: absolute;
        /* margin-top: 100vh; */
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        overflow: hidden;
    }
    50%{
        
        -webkit-transform: rotate(380deg);
        
                transform: rotate(380deg);
        
    }
    80%{
        -webkit-transform: rotate(780deg);
                transform: rotate(780deg);
    }
    100%{
        position: relative;
        -webkit-transform: rotate(0);
                transform: rotate(0);
        /* margin-top: 0; */
    }
}

@keyframes flyin {
    0%{
        position: absolute;
        /* margin-top: 100vh; */
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        overflow: hidden;
    }
    50%{
        
        -webkit-transform: rotate(380deg);
        
                transform: rotate(380deg);
        
    }
    80%{
        -webkit-transform: rotate(780deg);
                transform: rotate(780deg);
    }
    100%{
        position: relative;
        -webkit-transform: rotate(0);
                transform: rotate(0);
        margin-top: 0;
    }
}


@-webkit-keyframes slidein {
    0%{
        -webkit-transform:scale(0) translateX(-100px);
                transform:scale(0) translateX(-100px);
    }
  
    50% {
        
    }
    100%{
        -webkit-transform:scale(1) translate(0px);
                transform:scale(1) translate(0px);
    }

  }


@keyframes slidein {
    0%{
        -webkit-transform:scale(0) translateX(-100px);
                transform:scale(0) translateX(-100px);
    }
  
    50% {
        
    }
    100%{
        -webkit-transform:scale(1) translate(0px);
                transform:scale(1) translate(0px);
    }

  }

  @media screen and (min-width:625px) {
    #gameWonPanel{
        max-width: 400px;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 5px;
    }
    #gameWonPanel ul{
        padding: 28px;
        border: 2px solid lightseagreen;
        border-radius: 5px;
        margin: 16px;
    }
  }